@{
    ViewData["Title"] = "OrderConfirmed";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>Order @ViewBag.OrderId successfully created and will be proccessed soon</p>
    <a asp-controller="Home" asp-action="Index">To Home</a>
</div>

