
.vs/ASPNETCore/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
OnlineShop/.vs/OnlineShop/DesignTimeBuild/.dtbcache.v2
OnlineShop/.vs/OnlineShop/v16/.suo
OnlineShop/OnlineShop/obj/Debug/net5.0/OnlineShop.csprojAssemblyReference.cache
OnlineShop/.vs/OnlineShop/v16/.suo
OnlineShop/OnlineShop/bin/Debug/net5.0/OnlineShop.dll
OnlineShop/OnlineShop/bin/Debug/net5.0/OnlineShop.pdb
OnlineShop/OnlineShop/bin/Debug/net5.0/OnlineShop.Views.dll
OnlineShop/OnlineShop/bin/Debug/net5.0/OnlineShop.Views.pdb
OnlineShop/OnlineShop/obj/Debug/net5.0/OnlineShop.csproj.FileListAbsolute.txt
OnlineShop/OnlineShop/obj/Debug/net5.0/OnlineShop.dll
OnlineShop/OnlineShop/obj/Debug/net5.0/OnlineShop.pdb
OnlineShop/OnlineShop/obj/Debug/net5.0/OnlineShop.Views.dll
OnlineShop/OnlineShop/obj/Debug/net5.0/OnlineShop.Views.pdb
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Blog/Blog.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Blog/Single.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Contact/Contact.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Employees/Delete.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Employees/Details.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Employees/Index.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Employees/Update.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Home/Partial/_Brands.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Home/Partial/_Category.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Home/Partial/_Features.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Home/Partial/_Price.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Home/Partial/_Recommended.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Home/Partial/_Slider.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Home/Partial/_Tabs.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Products/Cart.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Products/Checkout.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Products/Login.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/_EmployeeLayout.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/_ErrorLayout.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/_Footer.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/_Header.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/_Scripts.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/_Styles.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/Footer/_AboutShoper.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/Footer/_Policies.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/Footer/_QuockShop.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/Footer/_Service.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/Header/_MainMenu.cshtml.g.cs
OnlineShop/OnlineShop/obj/Debug/net5.0/Razor/Views/Shared/Partial/Header/_UserMenu.cshtml.g.cs
*.config
*.v2
*.dll
*.exe
