<ul class="nav" id="main-menu">
	<li class="active-link">
		<a asp-controller="Home" asp-action="Index">
		<i class="fa fa-desktop "></i>Instuments</a>
	</li>
	<li>
		<a asp-controller="Products" asp-action="Index">
		<i class="fa fa-table "></i>Products Catalog</a>
	</li>
</ul>
